<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>PMO StackLab | Home</title>
</head>
<body>
    <h1>Home</h1>
    <div class="content">
        <div>
            <p id="intro">INTRO TO PMO STACKLAB</p>
        </div>

        <div>
            <ol id="overview">
                <li>Upload:</li>
                <li>Calibrate:</li>
                <li>Reproject:</li>
                <li>Stack:</li>
                <li>Post-Process:</li>
            </ol>
        </div>
    </div>
    <nav class="page-nav"></nav>
</body>
</html>