<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>StackLab | Calibrate</title>
</head>
<body>
    <h1>Calibrate</h1>
    <div class="content">
        <button>
            Calibrate Light Frames
        </button>

        <div class="preview">
            <h2>PREVIEW</h2>
            <div>
                <div>
                    <h3>Before</h3>
                </div>
                <div>
                    <h3>After</h3>
                </div>
            </div>
        </div>
    </div>
    <nav id="navbar"></nav>
</body>
</html>